<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'font/stylesheet.css' %}">
</head>

<body>
  {% block content %}
  <div class="container__regist">
    <form method="POST" class="register__form">
      <h4 class="title__form">Авторизация</h4>
      <p class="description__form">Добро пожаловать! Введите данные для входа в систему.</p>
      <form method="POST">
        {% csrf_token %}

        <div class="form-field">
          {{form.username.label_tag}}
          {{form.username}}
        </div>
        <div class="form-field">
          {{form.password.label_tag}}
          {{form.password}}
        </div>

        <button type="submit" class="button__form">Войти</button>
        <p class="account__login">Ещё нет аккаунта?<a href="/register/">Регистрация</a></p>
      </form>
  </div>
  {% endblock %}
</body>

</html>