<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'font/stylesheet.css' %}">
</head>

<body>
  {% block content %}

  <div class="container__regist">
    <form method="POST" class="register__form">
      <h4 class="title__form">Регистрация</h4>
      <p class="description__form">Добро пожаловать в наш кинозал! Чтобы начать просмотр фильмов и сериалов, пожалуйста,
        зарегистрируйтесь. Начните прямо
        сейчас, заполнив простую форму регистрации ниже.</p>
      {% csrf_token %}
      <div class="form-field">
        {{form.username.label_tag}}
        {{form.username}}
      </div>
      <div class="form-field">
        {{form.phone_number.label_tag}}
        {{form.phone_number}}
      </div>

      <div class="form-field">
        {{form.email.label_tag}}
        {{form.email}}
      </div>
      <div class="form-field">
        {{form.password1.label_tag}}
        {{form.password1}}
      </div>
      <div class="form-field">
        {{form.password2.label_tag}}
        {{form.password2}}
      </div>


      <button type="submit" class="button__form">Зарегистрироваться</button>
      <p class="account__login">Уже есть аккаунт?<a href="/login/">Авторизация</a></p>
    </form>
  </div>


  <!-- <form method="POST" class="register__form">
    {% csrf_token %}
    {{form.as_div}}
    <button type="submit">Register</button>
  </form> -->

  {% endblock %}
</body>

</html>